<div class="div-btn">
    <a href="/">
        <button class="btn btn-secondary">Cargar Producto</button>
    </a>
</div>
<table class="table" style="margin: 10px auto; width: 50%;">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        <!-- si no hay datos -->
        {{#unless productos}}
            <tr>
                <td colspan="3">No hay Productos</td>
            </tr>
        {{/unless}}
        {{#if productos}}
            {{#each productos}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td><img src="{{thumbnail}}" alt="Imagen de {{name}}"></td>
                </tr>
            {{/each}}
        {{/if}}
    </tbody>
</table>